# MongoDB connection string (required for API and dashboard)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority

# JWT secret for session cookies (change in production)
JWT_SECRET=your_jwt_secret_key_here

# Production App URL (e.g., https://yourdomain.vercel.app)
NEXT_PUBLIC_APP_URL=https://mvp-dist-ldnyxaslj-sarmad-faizans-projects.vercel.app

# Local App URL (Used automatically when running npm run dev)
LOCAL_APP_URL=http://localhost:3000

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
